body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background-color: #171941; */
  overflow: hidden;
  /* color: white; */
}

*
/* *:before, */
/* *:after  */
 {
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

#root,
.app {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  background: #059;
  border: 1px solid black;
  color: white;
  margin: 0px 0px 4px 0px;
  padding: 3px;
  text-align: left;
  font-size: 90%;
  font-weight: bold;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

/* Navigation style  */

.bg-info {
  background-color: #344675 !important;
  /* background-color: #171941 !important; */
}

.center {
  /* margin: auto; */
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 20px;
  color: white;
}

.navbar {
  height: 6% !important;
  padding: 0 !important;
}

/* drop down*/
/* .dd_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
} */
/* 
.dd_container .dropdown-toggle {
  border-radius: 0.4285rem;
} */

/* .dd_container .dropdown-toggle,
.dd_container .dropdown-menu {
  max-height: 20vh;
  min-width: 300px;
  text-align: left;
  overflow-y: auto;
  background-color: #344675;
} */

/* .dd_container .dropdown-toggle:focus,
.dd_container .dropdown-toggle.active:focus,
.dd_container .dropdown-toggle.active,
.btn-primary:not(:disabled):not(.disabled):active,
.dd_container .dropdown-toggle:hover {
  background-color: transparent;
  border-color: transparent;
} */

/* .dd_container .dropdown-item {
  color: white;
} */

/* .show > .btn-primary.dropdown-toggle:focus,
.show > .btn-primary.dropdown-toggle,
.btn-primary,
.btn-primary:focus {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
} */

/*select*/
select {
  max-width: 300px;
  max-height: 20vh;
  text-align: left;
  overflow-y: auto;
}
select option {
  background-color: #344675;
}

/* .btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  border-color: transparent;
} */

/* .dd_container .btn {
  background-color: transparent;
} */

.dropdown-toggle::after {
  /* display: inline-block;
  margin-left: .255em;
  vertical-align: .255em; */
  /* color: #007bff;
  content: "\25bc";
  float: right;
  border: 0 !important; */
}

label {
  margin-bottom: 0 !important;
}

/* title*/
/* 
ul.navlink {
  justify-content: flex-end;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

ul.navlink > li {
  width: 20%;
}

ul.navlink > li > a {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  height: 100%;
  justify-content: flex-end;
}

a.nav-text {
  color: white;
  font-family: Poppins;
}

a.nav-inline-text {
  color: rgb(24, 154, 197);
}

.nav-item > a > svg {
  font-size: 1.7em;
  align-self: center;
}

.nav-item > a > span {
  font-size: 0.6em;
  text-align: center;
}

.nav-item > a:hover {
  background-color: #495a85;
} */

/* .active-link:before {
  background-image: linear-gradient(to left, #e0bf57, #fff8dc);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
} */

/* active-link > svg > path {
  stroke-width: 18;
  color: #007bff;
} */

/*  end nav bar  */

.exec_info {
  background-color: #f0f4f0;
  color: black;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 98%;
}

/* common object style  */

.workBody {
  display: flex;
  height: 94%;
  background: #171941;
  padding: 5px;
}

.ck-editor__main {
  /* font-family: inherit;
  font-size: inherit; */
  color: black;
}

/* set height for editable content area, by default it is just 1 line 
https://stackoverflow.com/questions/46559354/how-to-set-the-height-of-ckeditor-5-classic-editor
*/
.ck-editor__editable_inline {
  min-height: 250px;
}

.h_100 {
  height: 100%;
}

.border {
  border: 2px solid;
  width: 100%;
}

/* end common object style  */

.ListContainer {
  width: 30%;
}

.list-tree-items {
  display: block;
  height: 93%;
  margin-top: 5px;
  overflow: auto;
  white-space: nowrap;
  color: white;
}

/* ul {
  list-style-type: none;
  display: block;
  padding-left: 19px;
}

li > img {
  width: 26px;
  height: 26px;
}

div > img {
  width: 24px;
  height: 24px;
} */

/* end specs style sheet  */

/* testing*/

/* #style-7::-webkit-scrollbar { */
::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  /* background-color: #f5f5f5; */
}

/** STYLE 7 */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

/* Spec detail style sheet*/
.testItemWrapper {
  margin-left: auto;
  width: 70%;
}

/* end spec detail style sheet  */

/* execution detail*/

/* .panel-header {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 1em;
  font-family: tahoma, arial, verdana, sans-serif;
  border-color: #99bbe8;
  padding: 7px;
  background-color: #252e37;
  margin: 5px 0 0 0;
  border-radius: 5px;
}

.panel-header-icon {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
}

.panel-content {
  text-align: left;
  margin: 5px 0px 10px 0px;
  background: #cde;
  padding: 3px 3px 10px 3px;
  border-style: groove;
  border-width: thin;
  border-radius: 5px;
} */

.filter-builds {
  padding: 10px 5px;
  background-color: #1f2251;
  margin-top: 5px;
}

.filter-builds .dropdown-toggle {
  border-radius: 0.4285rem;
}

.filter-builds .dropdown-toggle,
.filter-builds .dropdown-menu {
  max-height: 20vh;
  width: 200px;
  max-width: 200px;
  text-align: left;
  overflow-y: auto;
  background-color: #344675;
}

div.exec_tc_title {
  background: #059;
  color: white;
  margin-bottom: 4px;
  padding: 3px;
  text-align: left;
}

div.messages {
  background-color: #059;
  font-size: 12px;
  color: white;
  margin: 3px;
  padding: 3px;
}

div.resultBox {
  background: white;
  border: medium solid #808080;
  color: black;
  margin: 0px 12px 12px 12px;
  padding: 12px;
}

/* animation */

@keyframes spin720 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* end animation */

/* new form*/
/* .card {
  background: #1f2251;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.card label {
  color: rgba(255, 255, 255, 0.6);
}
.card .card-title {
  margin-bottom: 0.75rem;
}
.card .card-body {
  padding: 15px;
}
.card .card-body.table-full-width {
  padding-left: 0;
  padding-right: 0;
}
.card .card-body .card-title {
  color: #ffffff;
  text-transform: inherit;
  font-weight: 300;
  margin-bottom: 0.75rem;
}
.card .card-body .card-description,
.card .card-body .card-category {
  color: rgba(255, 255, 255, 0.6);
}
.card .card-header {
  padding: 15px 15px 0;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
}
.card .card-header:not([data-background-color]) {
  background-color: transparent;
}
.card .card-header .card-title {
  color: #ffffff;
  font-weight: 100;
}
.card .card-header .card-category {
  color: #9a9a9a;
  margin-bottom: 5px;
  font-weight: 300;
}
.card .map {
  border-radius: 0.2857rem;
}
.card .map.map-big {
  height: 420px;
}
.card.card-plain {
  background: transparent;
  box-shadow: none;
}
.card .image {
  overflow: hidden;
  height: 200px;
  position: relative;
}
.card .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}
.card label {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 15px;
}
.card .card-footer .stats i {
  margin-right: 5px;
  position: relative;
}
.card .card-footer h6 {
  margin-bottom: 0;
  padding: 7px 0;
}
.card.card-coin {
  border: 2px solid #344675;
}
.card.card-coin .card-header {
  margin: -100px auto 20px;
}
.card.card-coin img {
  width: 150px;
}
.card.card-coin hr {
  width: 20%;
  margin-left: 40%;
}
.card.card-coin .list-group {
  margin: 0 auto;
  text-align: center;
}
.card.card-coin .list-group .list-group-item {
  background-color: transparent;
  border: none;
  padding: 0.4rem 1rem;
} */

.result-box {
  display: flex;
  background: #252e37;
  color: white;
  margin: 0px 5px 5px 5px;
  padding: 6px;
}

.result-box .dropdown-toggle {
  border-radius: 0.4285rem;
}

.result-box .dropdown-toggle,
.result-box .dropdown-menu {
  max-height: 20vh;
  min-width: 300px;
  text-align: left;
  overflow-y: auto;
  background-color: #344675;
}

.result-box .dropdown-toggle:focus,
.result-box .dropdown-toggle.active:focus,
.result-box .dropdown-toggle.active,
.btn-primary:not(:disabled):not(.disabled):active,
.result-box .dropdown-toggle:hover {
  background-color: transparent;
  /* border-color: transparent; */
}

.mw-99 {
  min-width: 99% !important;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.form-check {
  padding-left: 0;
}

.form-check-input:checked ~ .form-check-sign::before {
  background-color: #cfcf82;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e14eca;
}

.form-control {
  display: block;
  width: 100%;
  /* height: $input-height; */
  /* padding: $input-padding-y $input-padding-x; */
  /* font-size: $font-size-base; */
  /* line-height: $input-line-height; */
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  box-shadow: none;
  border-color: #2b3553;
}

.form-control:focus {
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  box-shadow: none;
  border-color: #1d8ce8;
}

/* .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
} */

.bg-default {
  background-color: #344675 !important;
}

.btn-info {
  background: #1d8cf8;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1d8cf8), color-stop(#3358f4), to(#1d8cf8));
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #1d8cf8;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #fff;
}

/* new css here*/

.test-detail-case-title {
  background: rgba(22, 56, 90, 0.87);
  color: white;
  margin-bottom: 4px;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e14eca;
  color: black;
}

.custom-checkbox .custom-control-input:disabled ~ .custom-control-label {
  background-color: rgb(84, 173, 129);
  color: rgb(49, 49, 49);
  font-weight: bold;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgb(185, 185, 185);
  font-weight: bold;
}
