body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background-color: #171941; */
  overflow: hidden;
  /* color: white; */
}

*
/* *:before, */
/* *:after  */
 {
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

#root,
.app {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  background: #059;
  border: 1px solid black;
  /* color: white; */
  margin: 0px 0px 4px 0px;
  padding: 3px;
  text-align: left;
  font-size: 90%;
  font-weight: bold;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

/* Navigation style  */

.bg-info {
  background-color: #344675 !important;
  /* background-color: #171941 !important; */
}

.navbar {
  height: 6% !important;
  padding: 0 !important;
}

/* drop down*/
/* .dd_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
} */
/* 
.dd_container .dropdown-toggle {
  border-radius: 0.4285rem;
} */

/* .dd_container .dropdown-toggle,
.dd_container .dropdown-menu {
  max-height: 20vh;
  min-width: 300px;
  text-align: left;
  overflow-y: auto;
  background-color: #344675;
} */

/* .dd_container .dropdown-toggle:focus,
.dd_container .dropdown-toggle.active:focus,
.dd_container .dropdown-toggle.active,
.btn-primary:not(:disabled):not(.disabled):active,
.dd_container .dropdown-toggle:hover {
  background-color: transparent;
  border-color: transparent;
} */

/* .dd_container .dropdown-item {
  color: white;
} */

/* .show > .btn-primary.dropdown-toggle:focus,
.show > .btn-primary.dropdown-toggle,
.btn-primary,
.btn-primary:focus {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
} */

/*select*/

/* .btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  border-color: transparent;
} */

/* .dd_container .btn {
  background-color: transparent;
} */

.dropdown-toggle::after {
  /* display: inline-block;
  margin-left: .255em;
  vertical-align: .255em; */
  /* color: #007bff;
  content: "\25bc";
  float: right;
  border: 0 !important; */
}

label {
  margin-bottom: 0 !important;
}

/* title*/
/* 
ul.navlink {
  justify-content: flex-end;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

ul.navlink > li {
  width: 20%;
}

ul.navlink > li > a {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  height: 100%;
  justify-content: flex-end;
}

a.nav-text {
  color: white;
  font-family: Poppins;
}

a.nav-inline-text {
  color: rgb(24, 154, 197);
}

.nav-item > a > svg {
  font-size: 1.7em;
  align-self: center;
}

.nav-item > a > span {
  font-size: 0.6em;
  text-align: center;
}

.nav-item > a:hover {
  background-color: #495a85;
} */

/* .active-link:before {
  background-image: linear-gradient(to left, #e0bf57, #fff8dc);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
} */

/* active-link > svg > path {
  stroke-width: 18;
  color: #007bff;
} */

/*  end nav bar  */

.exec_info {
  background-color: #f0f4f0;
  color: black;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 98%;
}

/* common object style  */

/* .workBody {
  display: flex;
  height: 94%;
  background: #171941;
  padding: 5px;
} */

.ck-editor__main {
  /* font-family: inherit;
  font-size: inherit; */
  color: black;
}

/* set height for editable content area, by default it is just 1 line 
https://stackoverflow.com/questions/46559354/how-to-set-the-height-of-ckeditor-5-classic-editor
*/
.ck-editor__editable_inline {
  min-height: 250px;
}

.h_100 {
  height: 100%;
}

.border {
  border: 2px solid;
  width: 100%;
}

/* end common object style  */

.ListContainer {
  width: 30%;
}

.list-tree-items {
  /* display: block;
  height: 93%;
  margin-top: 5px;
  overflow: auto;
  white-space: nowrap; */
  /* color: white; */
}

/* ul {
  list-style-type: none;
  display: block;
  padding-left: 19px;
}

li > img {
  width: 26px;
  height: 26px;
}

div > img {
  width: 24px;
  height: 24px;
} */

/* end specs style sheet  */

/* testing*/

/* #style-7::-webkit-scrollbar { */
::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  /* background-color: #f5f5f5; */
}

/** STYLE 7 */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

/* Spec detail style sheet*/
.testItemWrapper {
  margin-left: auto;
  width: 70%;
}

/* end spec detail style sheet  */

.filter-builds {
  padding: 10px 5px;
  background-color: #1f2251;
  margin-top: 5px;
}

.filter-builds .dropdown-toggle {
  border-radius: 0.4285rem;
}

.filter-builds .dropdown-toggle,
.filter-builds .dropdown-menu {
  max-height: 20vh;
  width: 200px;
  max-width: 200px;
  text-align: left;
  overflow-y: auto;
  background-color: #344675;
}

div.exec_tc_title {
  background: #059;
  /* color: white; */
  margin-bottom: 4px;
  padding: 3px;
  text-align: left;
}

div.messages {
  background-color: #059;
  font-size: 12px;
  /* color: white; */
  margin: 3px;
  padding: 3px;
}

.btn-info {
  background: #1d8cf8;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1d8cf8), color-stop(#3358f4), to(#1d8cf8));
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #1d8cf8;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #fff;
}

/* new css here*/

.test-detail-case-title {
  background: rgba(22, 56, 90, 0.87);
  /* color: white; */
  margin-bottom: 4px;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
}
